In [1]:
from sklearn.preprocessing import LabelEncoder

In [2]:
le=LabelEncoder()

In [3]:
import pandas as pd

In [4]:
df=pd.DataFrame({'Animal':['cat','dog','dog','mouse','cat']})

In [5]:
df

  Animal
0    cat
1    dog
2    dog
3  mouse
4    cat

In [6]:
df['Animal_Encoded']=le.fit_transform(df['Animal'])

In [7]:
df

  Animal  Animal_Encoded
0    cat               0
1    dog               1
2    dog               1
3  mouse               2
4    cat               0

In [8]:
df['Animal_inverse']=le.inverse_transform(df['Animal_Encoded'])

In [9]:
df

  Animal  Animal_Encoded Animal_inverse
0    cat               0            cat
1    dog               1            dog
2    dog               1            dog
3  mouse               2          mouse
4    cat               0            cat

In [10]:
df2=pd.DataFrame(['standard','free/reduced','standard','standard'])

In [11]:
df2

              0
0      standard
1  free/reduced
2      standard
3      standard

In [12]:
df2_lunch=pd.get_dummies(df2[0])

In [14]:
df2_new=pd.concat([df2,df2_lunch],axis=1)