In [1]:
import numpy as np

In [2]:
dataset=[99,86,87,88,111,86,103,87,94,78,77,85,86]

In [3]:
x=np.mean(dataset)
x

np.float64(89.76923076923077)

In [4]:
y=np.median(dataset)
print(y)

87.0

In [7]:
from scipy import stats

z=stats.mode(dataset)
print(z)

ModeResult(mode=np.int64(86), count=np.int64(3))

In [11]:
num_arr=[1,2,3,4,5]
n=len(num_arr)
s=0
total=sum(num_arr)
mean=total/n
mean

3.0

In [12]:
num_arr=[1,2,3,4,5]
n=len(num_arr)
num_arr.sort()
if (n%2==0):
    median1=num_arr[n//2]
    median2=num_arr[(n//2)-1]
    median=(median1+median2)/2
    print (median)
else:
    median=num_arr[n//2]
    print(median)

3

In [19]:
from collections import Counter
num_arr=[1,2,3,3,4,5,5]
n=len(num_arr)
data=Counter(num_arr)
get_mode=dict(data)
mode=[k for k,v in get_mode.items() if v==max(data.values())]
if (len(mode)==n):
    print("there is no mode in the dataset")
else:
    print("mode is/are:"+','.join(map(str,mode)))

mode is/are:3,5

In [20]:
import pandas as pd

df=pd.DataFrame({'A':['a','b','c','a','b','c','a'],'B':[0,0,0,1,1,1,0]},dtype='category')

In [23]:
df.dtypes

A    category
B    category
dtype: object

In [25]:
print(df.groupby(['A']).count().reset_index())

   A  B
0  a  3
1  b  2
2  c  2

C:\Users\ADITYA\AppData\Local\Temp\ipykernel_11444\4236540745.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby(['A']).count().reset_index())

In [26]:
df2=pd.DataFrame({'A':['a','b','c','a','b','c','a'],'B':[0,0,0,1,1,1,0],'C':[7,8,9,4,5,6,3]})
df2['A']=df2['A'].astype('category')

In [27]:
print(df2.groupby(['A','B']).mean().reset_index())

   A  B    C
0  a  0  5.0
1  a  1  4.0
2  b  0  8.0
3  b  1  5.0
4  c  0  9.0
5  c  1  6.0

C:\Users\ADITYA\AppData\Local\Temp\ipykernel_11444\1057315962.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df2.groupby(['A','B']).mean().reset_index())

In [28]:
df2

   A  B  C
0  a  0  7
1  b  0  8
2  c  0  9
3  a  1  4
4  b  1  5
5  c  1  6
6  a  0  3

In [29]:
data=pd.read_csv('Iris.csv')
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [31]:
print('Iris-setosa')
setosa=data['Species']=='Iris-setosa'
data[setosa].describe()

Iris-setosa

             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

In [33]:
print('Iris-versicolor')
versicolor=data['Species']=='Iris-versicolor'
data[versicolor].describe()

Iris-versicolor

              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

In [34]:
print('Iris-virginica')
virginica=data['Species']=='Iris-virginica'
data[virginica].describe()

Iris-virginica

              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000